.primary-macabi {
    background-color: #004896;
    border: none
}

.primary-macabi :hover {
    background-color: #003c7c;
}

.primary-macabi :focus {
    background-color: #003c7c;
}

.primary-macabi :active {
    background-color: #002b58;
}   