.primary-macabi {
    background-color: #004896;
    border: none
}

.primary-macabi:hover {
    background-color: #003c7c;
}

.primary-macabi:focus {
    background-color: #003c7c;
}

.primary-macabi:active {
    background-color: #002b58;
}




.btn-macabi1 {
    color: white;
    background-color: #004896;
}

.btn-macabi1:hover {
    color: white;
    background-color: #013368;
}

.btn-macabi1:active {
    background-color: #002b58;
}