* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    position: relative;
    padding-bottom: 150px;
    min-height: 100vh;
}

#app {
    width: 85%;
    margin: 0 auto;
    overflow-x: hidden;
    height: auto;
}

/* Containers */

.container_grid {
    display: grid;
    background-color: #014187;
    padding: 15px;

    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);

    font-family: 'Montserrat', sans-serif;
}

.titulo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    margin-bottom: 15px;

    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.formulario_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f4;

    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.container_buttons {
    display: flex;
    justify-content: space-between;
    margin: 30px 5px 10px 5px;
}

/* Botones */



/* Tamaños para Containers */

.tamaño_xs {
    width: 30%;
    min-width: 500px;
}

.tamaño_s {
    width: 40%;
    min-width: 550px;
}

.tamaño_m {
    width: 55%;
    min-width: 700px;
}

.tamaño_l {
    width: 60%;
    min-width: 750px;
}

.tamaño_xl {
    width: 85%;
    min-width: 850px;
    max-width: 980px;
}


@media screen and (max-width:1000px) {
    #app {
        width: 100%;
    }

    .tamaño_xs {
        width: 60%;
        min-width: 350px;
        max-width: 500px;
    }

    .tamaño_s {
        width: 60%;
        min-width: 350px;
        max-width: 500px;
    }

    .tamaño_m {
        width: 73%;
        min-width: 350px;
        max-width: 650px;
    }

    .tamaño_l {
        width: 95%;
        min-width: 350px;
        max-width: 700px;
    }

    .tamaño_xl {
        width: 95%;
        min-width: 350px;
        max-width: 700px;
    }

    .container_basic {
        padding: 20px 35px;
    }
}